**This is my first cell**

In [2]:
age = 18

In [3]:
age1 = 17

In [4]:
age + age1

35

In [5]:
age2 = age + age1

In [6]:
age2

35

Variable -> name that we give to an address
* contain alphabets
* contain numbers
* contain _

In [ ]:
amount123
name
a123
_age

i = 10
j =20

In [7]:
name = 'Tom' # text or string

In [8]:
# Create a program for simulating a Bank

In [9]:
accNumber = 101
name = 'Jerry'
balance = 0

In [10]:
balance = balance + 100

In [11]:
balance

100

In [12]:
balance = balance - 50

In [13]:
balance

50

In [14]:
balance = balance + 1000000
balance

1000050

In [15]:
balance = balance - 50

In [16]:
balance

1000000

In [18]:
# pnr / 100
interest = (balance * 1 * 0.01)
interest

10000.0

In [19]:
balance = balance + interest

In [20]:
balance

1010000.0

In [21]:
interest = balance * 1 * 0.01
interest

10100.0

In [22]:
balance = balance + interest

In [23]:
balance

1020100.0

In [24]:
balance = balance + (balance * 1 * 0.01)
balance

1030301.0

In [25]:
def calcInterest(principal, time, rate):
    return principal * time * rate

In [26]:
balance = balance + calcInterest(balance, 1, 0.01)
balance

1040604.01

In [27]:
balance = balance + calcInterest(balance, 1, 0.01)
balance

1051010.0501

In [28]:
def addInterest(balance, time, rate):
    return balance + calcInterest(balance, time, rate)

In [29]:
balance = addInterest(balance, 1, 0.01)
balance

1061520.150601

In [30]:
accNumber1 = 102
name2 = 'Tom'
balance2 = 0

In [31]:
accNumber2 = 103
name3 = 'Elsa'
balance3 = 0

In [32]:
balance2 = balance2 + 100

In [33]:
balance3 = balance3 + 200

In [34]:
balance2

100

In [35]:
balance3

200

In [36]:
class Account:
    accNumber = 0
    name = ''
    balance = 0

In [38]:
ac1 = Account()
ac2 = Account()
ac3 = Account()

In [39]:
accNumber

101

In [40]:
ac1.accNumber

0

In [41]:
ac1.name

''

In [42]:
ac1.balance

0

In [45]:
ac1.accNumber = 101
ac1.name = 'Jerry'

In [44]:
ac2.accNumber = 102
ac2.name = 'Tom'

In [46]:
ac4 = Account()
ac4.accNumber = 104
ac4.name = 'Elsa'

In [47]:
def createAccount(number, name):
    ac = Account()
    ac.accNumber = number
    ac.name = name
    return ac

In [48]:
ac1 = createAccount(101, 'Jerry')

In [49]:
ac1.accNumber

101

In [50]:
ac1.name

'Jerry'

In [51]:
class Contact:
    name = ''
    number = 0
    email = ''

In [52]:
c1 = Contact()

In [53]:
c1.name = 'Madhan'
c1.number = 3264873264
c1.email = 'dsjkfhkjs'

In [54]:
c2 = Contact()

In [55]:
name1 = ''
number1 = ''
email1 = ''
name2 = ''
emal2 = ''

In [64]:
def deposit(acc, amount):
    acc.balance1 = acc.balance1 + amount

In [58]:
ac1.balance

0

In [65]:
deposit(ac1, 100)

AttributeError: 'Account' object has no attribute 'balance1'

In [60]:
ac1.balance

100

In [61]:
deposit(ac2, 200)

In [62]:
ac2.balance

200

In [63]:
ac1.balance

100